<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
<h3>First form needs to be filled with integers(Arraylist<Integer>)</h3>
<h3>Second form needs to be filled with integers too(Arraylist<Integer>)</h3>
<h3>Third form is first arraylist's index number so it needs to be less equal than the size of arrayList1</h3>
<h3>Fourth form is second arraylist's index number so it needs to be less equal than the size of arrayList2</h3>

    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
	<textarea name="input2" rows="10" cols="30"></textarea>
	<textarea name="input3" rows="10" cols="30"></textarea>
	<textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>

